<!DOCTYPE html>
<html lang="pt">
  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>

    {% include masthead.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>Conheça nossas disciplinas e conteúdos educacionais.</h1>
        <div class="equipe-grid">
          {% for disciplina in site.ensino %}
            <div class="card">
              {% if disciplina.image %}
                <img src="{{ disciplina.image | relative_url }}" alt="{{ disciplina.title }}">
              {% endif %}
              <h3><a href="{{ disciplina.url | relative_url }}">{{ disciplina.title }}</a></h3>
              {% if disciplina.nivel %}
                <p>{{ disciplina.nivel }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
