<!DOCTYPE html>
<html lang="pt">
  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>

    {% include masthead.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>Atividades e ações de extensão do nosso observatório.</h1>
        <div class="card-grid">
          {% for atividade in site.extensao %}
            <div class="card">
              {% if atividade.image %}
                <img src="{{ atividade.image | relative_url }}" alt="{{ atividade.title }}">
              {% endif %}
              <h3><a href="{{ atividade.url | relative_url }}">{{ atividade.title }}</a></h3>
              {% if atividade.resumo %}
                <p>{{ atividade.resumo }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
